.college_top{
	position: relative;
	color: #FFFFFF;
}
.ct_mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1,14,47,.6);
	z-index: 1;
}
.ct_tit{
	font-size: 0.54rem;
	padding: 0 1.2rem;
	position: absolute;
	top: 0.8rem;
	z-index: 2;
}
.ct_mage{
	padding: 0 1.2rem;
	font-size: 0.32rem;
	position: absolute;
	top: 1.7rem;
	z-index: 3;
}
/*项目管理微课*/
.college_item{
	padding: 0.3rem 0.24rem;
	background: #FFFFFF;
	margin-bottom: 0.2rem;
}
.ci_tit{
	display: block;
	width: auto;
	height: 0.75rem;
	margin: 0 auto;
	margin-bottom: 0.3rem;
}
.ci_list{
	width: 3.3rem;
	height: 3.7rem;
	border: 1px solid #efefef;
	margin-bottom: 0.4rem;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.ci_list:nth-child(2n){
	margin-left: 0.3rem;
}
.ci_name{
	font-size: 0.28rem;
	padding: 0.16rem 0.2rem 0 0.2rem;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
     -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.ci_btn{
	width: 1.5rem;
	height: 0.46rem;
	font-size: 0.26rem;
	background: #FF9600;
	color: #FFFFFF;
	border: 1px solid #d37b03;
	outline: none;
	border-radius: 3px;
	position: absolute;
	left: 0.9rem;
	bottom: 0.24rem;
}
/*图片蒙版*/
.ci_mask{
	width: 3.3rem;
	height: 1.85rem;
	color: #FFFFFF;
	font-size: 0.32rem;
	text-align: center;
	line-height: 1.85rem;
	background-color: rgba(8,5,3,.5);
	position: absolute;
	top: 0;
	left: 0;
}
.ci_about{
	width: 1.5rem;
	height: 0.46rem;
	font-size: 0.26rem;
	background: #0071e5;
	color: #FFFFFF;
	border: 1px solid #0162c5;
	outline: none;
	border-radius: 3px;
	position: absolute;
	left: 0.9rem;
	bottom: 0.24rem;
}
/*PM学院实战导师团*/
.ci_teacher{
	background: url(../img/school_listbg.png) no-repeat;
	background-size: 100% 100%; 
	width: 7.5rem;
	height: 7.5rem;
	padding: 0;
}
.ci_teacher .ci_tit{
	padding-top: 0.3rem;
}
.teacher_box{
	padding: 0 0.14rem 0.2rem 0;
}
.teacher_list{
	width: 33.33%;
	text-align: center;
	margin-bottom: 0.2rem;
}
.teacher_list img{
	width: 1.7rem;
	height: 1.7rem;
	border-radius: 50%;
}
.teach_name{
	color: #00eaff;
	font-size: 0.32rem;
	display: block;
	line-height: 0.32rem;
	margin-top: 0.1rem;
	margin-bottom: 0.05rem;
}
.teach_post{
	color: #FFFFFF;
	font-size: 0.26rem;
	padding: 0 0.1rem;
}
.college_good{
	margin-bottom: 0.2rem;
}
.school_old .swiper-slide{
	width: auto;
	margin-right: 0.4rem;
}
.school_old img{
	width: 3.3rem;
	height: 2.2rem;
}
.college_btm{
	padding: 0.4rem 0 0.5rem 0;
	text-align: center;
	background: #FFFFFF;
}
.school_qr{
	width: 1.9rem;
	height: 1.9rem;
}
.college_btm p{
	font-size: 0.26rem;
	margin-top: 0.2rem;
}
/*免费学习弹框*/
.learn_box{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1001;
	/*display: none;*/
}
.learn_mask{
	width: 5.4rem;
	border-radius: 0.16rem;
	background: #FFFFFF;
	text-align: center;
	margin-top: -2.6rem;
	margin-left: -2.7rem;
	position: relative;
	top: 50%;
	left: 50%;
}
.learn_mask:before{
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: #FFFFFF;
	margin-left: -2rem;
	position: absolute;
	top: -0.8rem;
	left: 50%;
	z-index: 1;
}
.learn_mask:after{
	content: '';
	display: block;
	width: 0.04rem;
	height: 0.54rem;
	background: #FFFFFF;
	position: absolute;
	bottom: -0.54rem;
	left: 2.7rem;
}
.learn_horn{
	width: 1.4rem;
	height: 1.3rem;
	margin-left: -0.7rem;
	position: absolute;
	top: -0.56rem;
	left: 50%;
	z-index: 3;
}
.learn_list{
	padding: 0.8rem 0 0.2rem 0;
	position: relative;
	z-index: 2;
}
.learn_img{
	width: 0.96rem;
	height: 0.96rem;
	border-radius: 50%;
}
.learn_pm{
	color: #0000ff;
}
.learn_dk{
	color: red;
}
.learn_list .learn_school{
	text-align: center;
	font-size: 0.3rem;
	color: #8c8c8c;
}
.learn_gz{
	display: block;
	width: 2.58rem;
	height: 2.58rem;
	margin: 0 auto;
}
.learn_close{
	width: 0.7rem;
	height: 0.7rem;
	margin-left: -0.33rem;
	position: absolute;
	bottom: -1.24rem;
	left: 50%;
}









