.banner{height: 200px;width:100%;min-width: 1200px;text-align: center;padding-top: 100px;}
.banner span{font-size: 40px;color: #fff;display: block;margin-bottom: 55px;}
.banner a{color: #fff;font-size:14px;padding:12px 50px;border-radius:5px;border:1px solid #fff; background: rgba(0, 0, 0, 0.25);}
.banner a:hover{ background: rgba(0, 0, 0, 0.6);}
.up{display: table;}
.title_anli{cursor: default;color: #595757;font-size:28px;width: 100%;height:108px;text-align: center;line-height: 108px;font-weight: bold;background:url(/images/activity/anli-title.png)no-repeat center;}
.up ul{}
.up ul li{
	width: 570px;height: 448px;margin-right: 60px;    box-shadow: 1px 1px 5px -1px #acacac;float: left;margin-bottom: 40px;border-radius: 5px;
}
.up ul li:nth-child(2n){margin-right: 0px;}
.up ul li:hover{
	position:relative;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	box-shadow: 0px 3px 3px 3px #e0e0e0;
}
.up ul li .t{height: 288px;width: 570px;}
.up ul li .t img{height: 288px;width: 570px;border-radius: 5px 5px 0px 0px;}
.up ul li .b{padding: 20px 20px 10px 20px;height: 130px;width:530px; }
.up ul li .b .b_name{margin-bottom: 15px;}
.up ul li .b .b_name span{color: #595757;font-size: 18px;margin-bottom: 20px;display: table}
.up ul li .b .b_name span a{color: #595757;font-size: 18px;}
.up ul li .b .b_name span a:hover{color: #156bad;}
.up ul li .b .b_name p{height: 40px;}
.up ul li .b .b_name p a{color: #595757;font-size: 14px;line-height: 20px;}
.up ul li .b .b_bot{height: 30px;}
.up ul li .b .b_bot .k_active{float: left;}
.up ul li .b .b_bot .k_active img{height: 30px;width: 30px;border-radius: 50%}
.up ul li .b .b_bot .anli_name{color: #7d7d7d;font-size: 12px;float: left;margin-left: 5px;line-height: 30px;cursor: pointer;}
.up ul li .b .b_bot .anli_name:hover{color: #156bad;}
.up ul li .b .b_bot .vip{margin-left: 10px;float: left;display: block;height: 11px;width: 14px;background: url(/images/activity/vip.png);background-size: cover;margin-top:10px;}
.up ul li .b .b_bot .sign{position: relative;float: left;width: 30px;}

.up ul li .b .b_bot .sign .k_box::before{content: ' ';border: 8px solid #bfbfbf; border-color: transparent rgba(191, 191, 191, 0.5) transparent transparent;position: absolute;top:8px;left:-16px; }
.up ul li .b .b_bot .sign .k_box::after{content: ' ';border: 8px solid #fff; border-color: transparent #fff transparent transparent;position: absolute;top:8px;left:-15px; }
.up ul li .b .b_bot .b_bot_r{float: right}
.up ul li .b .b_bot .b_bot_r span{line-height: 30px;color: #7d7d7d;font-size: 12px;margin-right: 20px;cursor:default;position: relative;}
.up ul li .b .b_bot .b_bot_r span:nth-child(1):before{content: '';width: 1px;height:13px;background: #d5d5d5;position: absolute;right: -12px;top: 2px; }
/*小编推荐*/
.recommend{display: table;}
.recommend ul{}
.recommend ul li{width: 578px;height: 248px;float: left;margin-right: 44px;border-radius: 5px;   box-shadow: 1px 1px 5px -1px #acacac;}
.recommend ul li:hover{
	position:relative;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	box-shadow: 0px 3px 3px 3px #e0e0e0;
}
.recommend ul li:nth-child(2n){margin-right:0px}
.recommend ul li .recommend_left{width: 300px;height: 248px;float: left;}
.recommend ul li .recommend_left img{width: 300px;height: 248px;border-radius: 5px 0 0 5px}
.recommend ul li .recommend_right{float: left;width: 238px;padding: 20px;height: 208px;}
.recommend ul li .recommend_right span.recommendtitle{margin-bottom: 20px;display: table;line-height: 18px;}
.recommend ul li .recommend_right span a{color: #595757;font-size: 18px;}
.recommend ul li .recommend_right span a:hover{color: #156bad;}
.recommend ul li .recommend_right p.recommendp{height: 75px;display: table;margin-bottom: 20px;}

.recommend ul li .recommend_right p a{color: #595757;font-size: 14px;}
.recommend ul li .recommend_right .sign{height: 30px;margin-bottom: 10px;    position: relative;}
.recommend ul li .recommend_right .sign img{width: 30px;height: 30px;border-radius: 50%;float:left;line-height: 30px;}
.recommend ul li .recommend_right .sign span.names {float:left;margin-left: 5px;line-height: 30px;}
.recommend ul li .recommend_right .sign span.names a{color: #7d7d7d;font-size: 12px;}
.recommend ul li .recommend_right .sign span.names a:hover{color: #156bad;}
.recommend ul li .recommend_right .sign .vip{margin-left: 6px;float: left;display: block;height: 11px;width: 14px;background: url(/images/activity/vip.png);background-size: cover;margin-top:10px;}

.recommend ul li .recommend_right .sign .k_box::before{content: ' ';border: 8px solid #bfbfbf; border-color: transparent rgba(191, 191, 191, 0.5) transparent transparent;position: absolute;top:8px;left:-16px; }
.recommend ul li .recommend_right .sign .k_box::after{content: ' ';border: 8px solid #fff; border-color: transparent #fff transparent transparent;position: absolute;top:8px;left:-15px; }

.recommend ul li .recommend_right .recommend_bottom{color: #7d7d7d;font-size: 12px;}
.recommend ul li .recommend_right .recommend_bottom span{position: relative;}
.recommend ul li .recommend_right .recommend_bottom span:nth-child(1){margin-right: 25px;}
.recommend ul li .recommend_right .recommend_bottom span:nth-child(1):before{position: absolute;content:'';width: 1px;height:13px ;background: #d5d5d5; right: -12px;top: 2px;}


/*案例集锦*/
.list{display: table;}
.list ul{display: table;}
.list ul li{height: 300px;width: 373px; box-shadow: 1px 1px 5px -1px #acacac;float: left;margin-right: 40px;margin-bottom: 20px;border-radius: 5px;}
.list ul li:hover{position:relative;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	box-shadow: 0px 3px 3px 3px #e0e0e0;
	}
.list ul li:nth-child(3n){margin-right:0px;}
.list ul li .t{height: 190px;width: 373px;}
.list ul li .t img{height: 190px;width: 373px;border-radius: 5px 5px 0px 0px}
.list ul li .b{padding: 20px 10px;width: 353px;height: 70px;}
.list ul li .b h2{color: #595757;font-size: 18px;margin-bottom: 16px;font-weight: initial;}
.list ul li .b h2 a{color: #595757;}
.list ul li .b h2 a:hover{color: #156bad;}
.list ul li .b .sign{height: 30px;position: relative;}
.list ul li .b .sign img{width: 30px;height: 30px;border-radius: 50%;float: left;}
.list ul li .b .sign a.name{color: #7d7d7d;font-weight: 12px;margin-left: 5px;float: left;line-height: 30px;}
.list ul li .b .sign a.name:hover{color: #156bad;}
.list ul li .b .sign a.vip{line-height: 30px;margin-left: 6px;float: left;display: block;height: 11px;width: 14px;background: url(/images/activity/vip.png);background-size: cover;margin-top:10px;}
.list ul li .b .sign span.read{line-height: 30px;float: right;color: #7d7d7d;font-size: 12px;cursor:default;}

.list ul li .b .sign .k_box::before{content: ' ';border: 8px solid #bfbfbf; border-color: transparent rgba(191, 191, 191, 0.5) transparent transparent;position: absolute;top:8px;left:-16px; }
.list ul li .b .sign .k_box::after{content: ' ';border: 8px solid #fff; border-color: transparent #fff transparent transparent;position: absolute;top:8px;left:-15px; }

.list .list_b{width: 100%;text-align: center;margin-top: 20px;height: 50px;margin-bottom: 110px;}
.list .list_b a{display: inline-table;font-size: 14px;color: #156bad;padding: 14px 52px;border-radius:10px; border: #156bad 1px solid }
.list .list_b a:hover{color: #fff;background: #156bad;}


/*内容页*/
.content_left{width: 860px;border-radius: 5px;float: left;}
.content_left article{border:#e7e7e7 1px solid ;width: 818px;padding: 20px;border-radius: 5px 5px 0 0;}
.article .article_title{margin-bottom: 30px;}
.article .article_title h1{font-size: 24px;color: #595757;font-weight: bold}
.article .article_source{}
.article .article_source span{margin-right: 30px;color:#7d7d7d;font-size: 14px; }
.article .article_introduce{margin-top: 15px;padding:20px;background:#f6f6f6;}
.article .article_introduce p{color: #7d7d7d;line-height: 20px;}
.article .article_content{word-wrap: break-word;margin-top: 30px;margin-bottom: 35px;overflow: hidden}
.article .article_interaction{height:55px;width:820px;background: #fff;bottom: 0px;padding-top: 15px;}

.article .article_interaction .fabulous{margin-left: 60px;width: 143px;height: 38px;line-height: 38px;text-align: center;border:1px solid #ff4e4e;border-radius:20px;display: block;float: left; }
.article .article_interaction .fabulous:hover{background:#FFF2F2}
.article .article_interaction .fabulous span{color:#ff4e4e;}
.article .article_interaction .fabulous .text{padding:0px 10px;border-right: 1px solid #ff4e4e}
.article .article_interaction .fabulous .number{margin-left:5px;}
.article .article_interaction .fabulous_n{background: #ff4e4e;margin-left: 60px;width: 143px;height: 38px;line-height: 38px;text-align: center;border:1px solid #ff4e4e;border-radius:20px;display: block;float: left; }
.article .article_interaction .fabulous_n span{color:#fff;}
.article .article_interaction .fabulous_n .text{padding:0px 10px;border-right: 1px solid #fff}
.article .article_interaction .fabulous_n .number{margin-left:5px;}

.article .article_interaction .collection{margin-left: 20px;width: 143px;height: 38px;line-height: 38px;text-align: center;border:1px solid #ffa41d;border-radius:20px;display: block;float: left; }
.article .article_interaction .collection:hover{background:#FFF2DD}
.article .article_interaction .collection span{color:#ffa41d;}
.article .article_interaction .collection .text{padding:0px 10px;border-right: 1px solid #ffa41d}
.article .article_interaction .collection .number{margin-left:5px;}
.article .article_interaction .collection_n{background: #ffa41d;margin-left: 20px;width: 143px;height: 38px;line-height: 38px;text-align: center;border:1px solid #ffa41d;border-radius:20px;display: block;float: left; }

.article .article_interaction .collection_n span{color:#fff;}
.article .article_interaction .collection_n .text{padding:0px 10px;border-right: 1px solid #fff}
.article .article_interaction .collection_n .number{margin-left:5px;}
/*文章页编辑器显示*/
.comment .article_comment_form{display: block;margin-top: 20px;}
/*分享*/
.article .article_interaction .share{float: right;margin-left:0px;line-height: 40px;}
.article .article_interaction .share .name{display: block;float: left;margin-right: 5px;color: #7d7d7d;font-size: 14px;}
.article .article_interaction .share a{width: 40px;height: 40px;line-height: 40px;padding:0;display: block;float: left;margin:0px 0px 0px 10px; background-image:none;position: relative;}
.article .article_interaction .share .bds_sqq{background-image:url(../img/fqq.png);background-position: bottom;}
.article .article_interaction .share .bds_weixin{background-image:url(../img/fwx.png);background-position: bottom;}
.article .article_interaction .share .bds_tsina{background-image:url(../img/fwb.png);background-position: bottom;}
/*文章内容广告*/
.content_left .article_ad{width: 860px;}
.content_left .article_ad img{width: 860px;height: 150px;}